@charset "UTF-8";
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
/* reset.scss */
/* Reset styles */
html,
body,
h1,
h2,
h3,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none; /* Убираем подчеркивания у ссылок */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* Учитываем padding и border в общей ширине/высоте элемента */
}

a {
  text-decoration: none; /* Убираем стандартное подчеркивание */
  color: #ffa500; /* Золотой цвет текста */
  font-weight: normal; /* Делаем текст жирным для солидности */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; /* Плавный переход при наведении */
  border-bottom: 2px solid transparent; /* Линия снизу, но невидимая */
}

a:hover {
  color: #ffa500; /* Немного светлее при наведении */
  text-shadow: 0px 0px 1px rgba(255, 215, 0, 0.3); /* Свечение */
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("FuturaPT-DemiObl.woff2") format("woff2"), url("FuturaPT-DemiObl.woff") format("woff"), url("FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Basic styling */
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: #f0f0f0;
  color: #ffa500; /* Цвет текста по умолчанию */
}

.index-text .header__logo {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
}

.header__logo {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
}

.header__logo._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

ul {
  list-style-type: none; /* Убираем маркеры у всех списков */
  padding: 0;
}

header {
  background-color: #ffffff;
  color: #020202;
  padding: 30px 0;
}

nav {
  display: inline-block;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.about_video {
  margin: 0 auto;
  padding: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../img/videoImage/bg-montag.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/videoImage/bg-montag.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about_video .container {
  max-width: 800px;
}

.about_video-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about_videotext {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}

.about_videobutton {
  display: inline-block;
  background: linear-gradient(45deg, #333, #333);
  color: white;
  padding: 12px 24px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.about_videobutton:hover {
  background: linear-gradient(45deg, #fff, #333);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.scroll-down {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wheel {
  width: 6px;
  height: 10px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  -webkit-animation: wheelMove 1.5s infinite ease-in-out;
          animation: wheelMove 1.5s infinite ease-in-out;
}

@-webkit-keyframes wheelMove {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 1;
  }
}

@keyframes wheelMove {
  0% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    opacity: 1;
  }
}
/* Стрелки */
.arrows span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 5px;
  -webkit-animation: arrowMove 1.5s infinite ease-in-out;
          animation: arrowMove 1.5s infinite ease-in-out;
}

.arrows span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.arrows span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes arrowMove {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}

@keyframes arrowMove {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
}
.video__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  -webkit-transform: translate(0px, 10%);
          transform: translate(0px, 10%); /* Initial transform state */
}

.video__list._active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.video__list li {
  text-align: center;
  position: relative;
  overflow: hidden;
  /* Отступы между строками */
}

.video__list li a {
  color: #333;
  position: relative;
  display: grid; /* Чтобы изображение занимало весь li */
}

.video__list li a img {
  width: 100%; /* Полная ширина изображения */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Фит изображения */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Плавный переход при наведении */
}

.video__list li a:hover img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%); /* Затемнение изображения при наведении */
  -webkit-transform: scale(1.1);
          transform: scale(1.1); /* Увеличение при наведении */
}

.video__list li .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-top: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; /* Плавный переход */
}

.video__list li:hover .overlay {
  opacity: 1; /* Показывать overlay при наведении */
}

.overlay-text {
  color: #ffa500;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

@-webkit-keyframes text {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  30% {
    letter-spacing: 5px;
  }
}

@keyframes text {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  30% {
    letter-spacing: 5px;
  }
}
.video__list li .overlay-text {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; /* Плавный переход */
}

.video__list li:hover .overlay-text {
  opacity: 1;
  -webkit-animation: text 2s 1;
          animation: text 2s 1; /* Воспроизведение анимации */
}

@media (min-width: 768px) {
  .video__list li {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 250px;
  height: 200px;
  top: 10%;
  left: calc(50% - 100px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-animation: autoRun 60s linear infinite;
          animation: autoRun 60s linear infinite;
  z-index: 2;
}

@-webkit-keyframes autoRun {
  from {
    -webkit-transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
            transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
            transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
  }
}

@keyframes autoRun {
  from {
    -webkit-transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
            transform: perspective(1000px) rotateX(-13deg) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
            transform: perspective(1000px) rotateX(-13deg) rotateY(360deg);
  }
}
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  -webkit-transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(550px);
          transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translateZ(550px);
}

.banner .slider .item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.banner .content .model {
  background-image: url("../../img/about/me1.png");
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;
}

/* Base styles (mobile first) */
.header {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* Ensure spacing between logo and nav */
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.nav {
  margin-left: auto;
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, -webkit-transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease;
  transition: opacity 1.4s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  -webkit-transform: translate(20%, 0px);
          transform: translate(20%, 0px);
}

.nav._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Vertical layout for mobile */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; /* Align items to the start */
}

.nav__list-item {
  display: block; /* Block elements for vertical layout */
  margin-bottom: 0.5rem; /* Space between items */
}

.nav__list-item:first-child {
  margin-left: 0; /* Remove left margin for the first list item */
}

.index-text .nav__list-item a {
  text-decoration: none; /* Remove default underline */
  color: #fff; /* Link color */
  font-weight: 400; /* Font weight */
  font-size: 1rem; /* Font size */
  -webkit-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Smooth transition */
  border-bottom: 2px solid transparent; /* Transparent underline */
}

.nav__list-item a {
  text-decoration: none; /* Remove default underline */
  color: #333; /* Link color */
  font-weight: 400; /* Font weight */
  font-size: 1rem; /* Font size */
  -webkit-transition: color 0.3s ease, border-bottom-color 0.3s ease;
  transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Smooth transition */
  border-bottom: 2px solid transparent; /* Transparent underline */
}

.index-text .nav__list-item a.border-bottom {
  border-bottom: 2px solid #fff; /* Persistent underline */
}

.nav__list-item a.border-bottom {
  border-bottom: 2px solid #333; /* Persistent underline */
}

.index-text .nav__list-item a:hover {
  border-bottom-color: #fff; /* Underline color on hover */
  -webkit-transition-timing-function: 500ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list-item a:hover {
  border-bottom-color: #333; /* Underline color on hover */
  -webkit-transition-timing-function: 500ms cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet styles */
@media (min-width: 768px) {
  .index {
    position: absolute; /* Поверх hero */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Выше остальных слоев */
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* Ensure spacing between logo and nav */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; /* Horizontal layout for tablet */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; /* Center align items */
  }
  .nav__list-item {
    display: inline-block; /* Inline-block for horizontal layout */
    margin-left: 1rem; /* Add margin between list items */
    margin-bottom: 0; /* Remove bottom margin */
  }
  .nav__list-item a {
    font-size: 1.1rem; /* Adjust font size */
  }
}
/* Desktop styles */
@media (min-width: 1024px) {
  .nav__list-item a {
    font-size: 1.2rem; /* Adjust font size */
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* Large desktop styles */
@media (min-width: 1200px) {
  .header {
    max-width: 1200px; /* Max-width for header */
    margin: 0 auto; /* Center header */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about__text,
.about__img,
.about__skills,
.about__div-buttons,
.about__button {
  font-family: "Raleway", sans-serif;
}

.about__text,
.about__skills {
  color: #333;
  text-align: center;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  opacity: 0;
}

.about__text {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0;
  max-width: 400px;
  margin: 0 auto;
  -webkit-transform: translateX(5%);
          transform: translateX(5%); /* Initial transform state */
}

.about__buttons-item {
  width: 140px;
}

.about__skills {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}

.about__text._active,
.about__skills._active,
.about__img._active,
.about__div-buttons._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.about__img {
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
}

.about__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__div-buttons {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 600px;
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
}

.about__button {
  width: 100%;
  max-width: 120px;
  height: 50px;
  border: 2px solid #333;
  font-weight: 500;
  background: none;
  cursor: pointer;
  margin: 5px 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.25, 0.1, 0.25, 1), color 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background-color 250ms cubic-bezier(0.25, 0.1, 0.25, 1), color 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.about__button:hover {
  color: #ffffff;
  background-color: #333;
}

/* Media Queries for responsive design */
@media (min-width: 768px) {
  .about__div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .about__text {
    font-size: 15px;
    font-weight: 300;
    padding: 10px 20px;
    max-width: 400px;
    margin: 0 auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); /* Initial transform state */
  }
  .about__img,
  .about__divtext {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about__img {
    max-width: 450px;
  }
  .about__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__button {
    margin: 10px;
  }
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 1.2rem;
    text-align: center;
  }
  .about__text {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
    max-width: 500px;
    margin: 0 auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%); /* Initial transform state */
  }
  .about__skills {
    font-size: 2rem;
  }
}
.image-slider__image {
  text-align: center;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #fff;
  font-size: 30px;
}

.image-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
}

.image-slider__image img {
  max-width: 100%;
}

.photo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease; /* Add transform transition */
  -webkit-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
}

.photo__list._active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.wrapper {
  min-width: 0;
}

@media (min-width: 768px) {
  .photo__list .horizontal {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .photo__list .vertical {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
}
/* Общие стили для изображений с оверлеем */
/* Общие стили для изображений с оверлеем */
.swiper-wrapper {
  position: relative; /* Необходимо для правильного позиционирования оверлея */
  overflow: hidden; /* Скрывает элементы, выходящие за пределы контейнера */
}

/* Оверлей с плавным появлением */
.overlay-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Темный полупрозрачный фон */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Центрируем текст по горизонтали */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Центрируем текст по вертикали */
  opacity: 0; /* Скрыть оверлей по умолчанию */
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
}

.swiper-wrapper:hover .overlay-photo {
  opacity: 1; /* Показываем оверлей при наведении */
}

/* Всплывающий текст */
.overlay-text-photo {
  color: #ffa500; /* Оранжевый цвет текста */
  font-size: 18px; /* Размер текста */
  /* Жирный шрифт */
  text-align: center; /* Выравнивание текста по центру */
  text-transform: uppercase; /* Заглавные буквы */
  padding: 10px; /* Отступы вокруг текста */
  letter-spacing: 2px; /* Межбуквенный интервал */
  opacity: 0; /* Скрыть текст по умолчанию */
  -webkit-animation: fadeIn 1.5s infinite;
          animation: fadeIn 1.5s infinite; /* Анимация появления */
  display: block;
}

/* Анимация всплывания текста */
@-webkit-keyframes fadeIn {
  0% {
    /* Начинаем с нижней позиции */
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); /* Двигаем текст в его обычное положение */
  }
}
@keyframes fadeIn {
  0% {
    /* Начинаем с нижней позиции */
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); /* Двигаем текст в его обычное положение */
  }
}
/* При наведении на изображение начинаем анимацию */
.swiper-wrapper:hover .overlay-text-photo {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards; /* Включаем анимацию при наведении */
}

/* Для улучшения читаемости можно добавить немного теней к тексту */
.overlay-text-photo {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.footer {
  padding: 20px 0px;
  text-align: center; /* Center the content of the footer */
}

.footer__list {
  list-style: none; /* Remove default list styling */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Center the list items */
}

.footer__item {
  margin: 10px;
}

.footer__link {
  display: inline-block; /* Ensure link can be centered */
  text-align: center; /* Center text within the link */
  color: #333;
  font-weight: 500;
}