.footer {
	padding: 20px 0px;
	text-align: center; /* Center the content of the footer */
}

.footer__list {
	list-style: none; /* Remove default list styling */

	display: flex;
	justify-content: center; /* Center the list items */
}

.footer__item {
	margin: 10px;
}

.footer__link {
	display: inline-block; /* Ensure link can be centered */
	text-align: center; /* Center text within the link */
	color: #333;
	font-weight: 500;
}
